/**
 * Classic
 */
.classic piece.pawn.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wp.png');
}
.classic piece.bishop.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wb.png');
}
.classic piece.knight.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wn.png');
}
.classic piece.rook.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wr.png');
}
.classic piece.queen.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wq.png');
}
.classic piece.king.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wk.png');
}
.classic piece.pawn.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bp.png');
}
.classic piece.bishop.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bb.png');
}
.classic piece.knight.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bn.png');
}
.classic piece.rook.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/br.png');
}
.classic piece.queen.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bq.png');
}
.classic piece.king.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bk.png');
}

/**
 * Neo
 */
.neo piece.pawn.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');
}
.neo piece.bishop.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');
}
.neo piece.knight.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png');
}
.neo piece.rook.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png');
}
.neo piece.queen.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png');
}
.neo piece.king.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');
}
.neo piece.pawn.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');
}
.neo piece.bishop.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png');
}
.neo piece.knight.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png');
}
.neo piece.rook.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png');
}
.neo piece.queen.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png');
}
.neo piece.king.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png');
}

/**
 * Alpha
 */
.alpha piece.pawn.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wp.png');
}
.alpha piece.bishop.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wb.png');
}
.alpha piece.knight.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wn.png');
}
.alpha piece.rook.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wr.png');
}
.alpha piece.queen.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wq.png');
}
.alpha piece.king.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/wk.png');
}
.alpha piece.pawn.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/bp.png');
}
.alpha piece.bishop.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/bb.png');
}
.alpha piece.knight.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/bn.png');
}
.alpha piece.rook.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/br.png');
}
.alpha piece.queen.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/bq.png');
}
.alpha piece.king.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/alpha/150/bk.png');
}

/**
 * Bases
 */
.bases piece.pawn.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wp.png');
}
.bases piece.bishop.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wb.png');
}
.bases piece.knight.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wn.png');
}
.bases piece.rook.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wr.png');
}
.bases piece.queen.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wq.png');
}
.bases piece.king.white {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/wk.png');
}
.bases piece.pawn.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/bp.png');
}
.bases piece.bishop.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/bb.png');
}
.bases piece.knight.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/bn.png');
}
.bases piece.rook.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/br.png');
}
.bases piece.queen.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/bq.png');
}
.bases piece.king.black {
  background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/bases/150/bk.png');
}
