.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.w-full {
  width: 100%;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.px-2 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-resize {
  cursor: nesw-resize;
}
.outline-none,
.outline-none:focus {
  outline: none;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-gray-400 {
  color: rgba(156, 163, 175);
}
.text-gray-800 {
  color: rgba(31, 41, 55);
}
.bg-white {
  background-color: #fff;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.border-gray-300 {
  border-color: rgba(209, 213, 219);
}
.rounded {
  border-radius: 0.25rem;
}
